build
bin
*~
*.o
*.a
*.so

libs/googletest/make/sample1_unittest
libs/googletest/make/gtest_main.a

dependencies/

logs

doc/business_analysis/*.aux
doc/business_analysis/*.log
doc/business_analysis/*.toc
doc/business_analysis/*.gz
doc/business_analysis/*.pdf

doc/uml_diagrams/

*.aux
*.log
*.toc
*.gz
*.pdf
*.out

CMakeLists.txt

# QT
build-editor-Desktop_Qt_5_5_1_GCC_64bit-Debug

# Eclipse stuff
.cproject
.project

# IntelliJ Idea stuff
*.iml
.idea
config_gui/out
config_gui/.idea
*.class
*.jar
*.html
*.jnlp
bundles
out

core
